@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;700&display=swap');

/* Global Styles */
.txt {
  font-family: 'Besley', serif;
}

/* Specific Styles for Text */
.type3 {
  font-family: 'Georgia', serif;
}

/* Button Styles */
.button {
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Georgia', serif;
  margin-bottom: 28px;
}

/* Button Hover Effect */
.button:hover {
  box-shadow: 0.5px 0.5px 150px #252525;
}

/* Google Button Styles */
.type1::after {
  content: "🔓Welcome";
  height: 50px;
  width: 250px;
  background-color: #fff;
  color: #352872;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1::before {
  content: "🌐 Continue with Google";
  height: 50px;
  width: 250px;
  background-color: #fff;
  color: #352872;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type1:hover::after {
  transform: translateY(0) scale(1.2);
}

.type1:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}

/* GitHub Button Styles */
.type2::after {
  content: "🔓 Welcome";
  height: 50px;
  width: 250px;
  background-color: #fff;
  color: #352872;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(50px);
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type2::before {
  content: "🐙 Continue with GitHub";
  height: 50px;
  width: 250px;
  background-color: #fff;
  color: #352872;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.type2:hover::after {
  transform: translateY(0) scale(1.2);
}

.type2:hover::before {
  transform: translateY(-50px) scale(0) rotate(120deg);
}


/* Responsive Styles */
@media (max-width: 1921px ) and (min-width:1500px) {
  .login-container {
    background-image: url('../../assets/login.jpg'); 
    background-size: cover;
    background-position: center;
  }
  .mainDiv {
    margin-left: 15%;
  }
  .txt {
    font-size: 66px;
    margin-bottom: 40px;
  }
  .button, .type1::after, .type1::before, .type2::after, .type2::before {
    height: 55px;
    width: 350px;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 25px;
  }
}
@media (min-width: 992px) and (max-width: 1500px) {
  .login-container {
    background-image: url('../../assets/login.jpg');
    background-size: cover;
    background-position: center;
    justify-content: flex-start;
  }
   .mainDiv {
    margin-left: 10%;
  }
  .txt {
    font-size: 45px;
    margin-bottom: 25px;
  }
  .button, .type1::after, .type1::before, .type2::after, .type2::before {
    height: 45px;
    width: 270px;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px)  {
  .login-container {
    background-image: url('../../assets/login.jpg');
    background-size: cover;
    background-position: center;
    justify-content: flex-start;
  }
   .mainDiv {
    margin-left: 10%;
  }
  .txt {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .button, .type1::after, .type1::before, .type2::after, .type2::before {
    height: 35px;
    width: 230px;
    padding: 20px;
    font-size: 13px;
    margin-bottom: 15px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .login-container {
    background-image: url('../../assets/tsttt.png');
    background-size: cover;
    background-position: center;
    justify-content: center;

  }
  .txt {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .button, .type1::after, .type1::before, .type2::after, .type2::before {
    height: 30px;
    width: 200px;
    padding: 20px;
    font-size: 12px;
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .login-container {
    background-image: url('../../assets/tsttt.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
  }
  .txt {
    font-size: 30px; 
    margin-bottom: 15px;
  }

  .button, .type1::after, .type1::before, .type2::after, .type2::before {
    height: 30px;
    width: 200px;
    padding: 20px;
    font-size: 12px; 
    margin-bottom: 15px;
  } 
}